@model clsTipoUnidad
@{
    ViewData["Title"] = "vTipoUnidadDet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-1">
        <a asp-action="vTipoUnidadIni" asp-controller="TipoUnidad" class="btn btn-warning btn-sm">Volver</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-5">
        <div class="card">
            <div class="card-header">
                @ViewBag.Accion
            </div>
            <div class="card-body">

                <form asp-action="GuardarCambios" asp-controller="TipoUnidad" method="post">

                    <input type="hidden" asp-for="IdTipoUnidad" />

                    <div class="mb-2">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control form-control-sm" asp-for="strTipoUnidad" />
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
