@model clsRecepcionDetalle
@{
    ViewData["Title"] = "vRecepcionDet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-1">
        <a asp-action="vRecepcionDet" asp-controller="Recepcion" asp-route-_IdRecepcion="@Model.IdRecepcion" class="btn btn-warning btn-sm">Volver</a>
    </div>
</div>
<br />
<div class="row">

    <div class="col-5">
        <div class="card">
            <div class="card-header">
                @ViewBag.Accion
            </div>
            <div class="card-body">

                <form asp-action="GuardarCambios" asp-controller="RecepcionDetalle" method="post">

                    <input type="hidden" asp-for="IdRecepcion" />

                    <div class="mb-2">
                        <label class="form-label">Producto</label>
                        @Html.DropDownListFor(m => m.IdProducto, (IEnumerable<SelectListItem>)ViewData["Producto"], "Seleccionar", new {@class ="form-control" })
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Cantidad</label>
                        <input type="number" class="form-control form-control-sm" asp-for="numCantidad" />
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Precio</label>
                        <input type="number" class="form-control form-control-sm" asp-for="numPrecio" />
                    </div>
                    <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
