@model clsEmpleado
@{
    ViewData["Title"] = "vEmpleadoDet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">

    document.addEventListener("DOMContentLoaded", () => {
        IdEmpleado = document.getElementById('IdEmpleado').value;

        if (IdEmpleado != 0) {
            div = document.getElementById('div');
            div.style.display = '';
        }
        else {
            div = document.getElementById('div');
            div.style.display = 'none';
        }

    });

</script>

<div class="row">
    <div class="col-1">
        <a asp-action="vEmpleadoIni" asp-controller="Empleado" class="btn btn-warning btn-sm">Volver</a>
    </div>
</div>
<br />
<div class="row">

    <div class="col-5">
        <div class="card">
            <div class="card-header">
                @ViewBag.Accion
            </div>
            <div class="card-body">

                <form asp-action="GuardarCambios" asp-controller="Empleado" method="post">

                    <input id="IdEmpleado" type="hidden" asp-for="IdEmpleado" />

                    <div class="mb-2">
                        <label class="form-label">Documento</label>
                        <input type="text" class="form-control form-control-sm" asp-for="strDocumento" />
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Nombre</label>
                        <input type="text" class="form-control form-control-sm" asp-for="strNombre" />
                    </div>

                    <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>

    <div id="div" class="col-5">
        <div class="card">
            <div class="card-header">
                Usuario
            </div>
            <div class="card-body">
                
                <form asp-action="GuardarCambiosUsuario" asp-controller="Empleado" method="post">

                    <input type="hidden" asp-for="@Model.Usuario.UserId" />
                    <input type="hidden" asp-for="@Model.IdEmpleado" />

                    <div class="mb-2">
                        <label class="form-label">Usuario</label>
                        <input type="text" class="form-control form-control-sm" asp-for="Usuario.strUserName" />
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Contraseña</label>
                        <input type="password" class="form-control form-control-sm" asp-for="Usuario.strContraseña" />
                    </div>

                    <button type="submit" class="btn btn-success btn-sm">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
